.myButton {
    margin-top: 21px;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    font-family: var(--font-heading), fantasy;
}

.myButton:hover {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}
