.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.containerPage {
    margin-top: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 15px;
    justify-content: center;
}
