.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 12%;
}
