.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}

.finalizeOrderButton {
    margin-top: 20px;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    font-family: var(--font-heading), fantasy;
}

.finalizeOrderButton:hover {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}
