.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.homePage {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 70%;
}
