:root {
    --color-primary: #4b2c20;
    --color-secondary: #c49b66;
    --color-bg-main: #f9f7f5;
    --color-bg-alt: #f0ebe3;
    --color-text-main: #2d2424;
    --color-text-light: #f9f7f5;
    --color-outline: #e0e0e0;

    /* --- Fonts --- */
    --font-heading: Copperplate, 'Copperplate Gothic Light', fantasy;
    --font-secondary-heading: 'Baskerville', sans-serif;
    --font-body: 'Gill Sans', sans-serif;

    /* --- Spacing --- */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
}

p,
td {
    font-size: 20px;
    font-family: var(--font-body), 'sans-serif';
    line-height: 1.6;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    font-family: var(--font-secondary-heading), 'sans-serif';
}

h1 {
    font-size: 46px;
    font-weight: bold;
    font-family: var(--font-heading), 'fantasy';
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3.4rem;
    margin-bottom: 1rem;
    font-family: var(--font-secondary-heading), 'sans-serif';
}

.page-container {
    min-height: 100vh; /* full height */
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1; /* pushes footer down */
}

@media (max-width: 1200px) {
    h2 {
        font-size: 28px;
        font-weight: bold;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 3.4rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .line {
        width: calc(100% - 5.6rem);
        margin-left: 2.8rem;
    }
}
