:root {
    --color-primary: #4B2C20;
    --color-secondary: #C49B66;
    --color-bg-main: #F9F7F5;
    --color-bg-alt: #F0EBE3;
    --color-text-main: #2D2424;
    --color-text-light: #F9F7F5;

    /* --- Fonts --- */
    --font-heading: Copperplate, 'Copperplate Gothic Light', fantasy;
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* --- Spacing --- */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
}

h2 {
    font-size: 38px;
    font-weight: bold;
}

h1 {
    font-size: 46px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 3.4rem;
    margin-bottom: 1rem;
}

.page-container {
    min-height: 100vh; /* full height */
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1; /* pushes footer down */
}

@media (max-width: 1200px) {
    h2 {
        font-size: 28px;
        font-weight: bold;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 3.4rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .line {
        width: calc(100% - 5.6rem);
        margin-left: 2.8rem;
    }
}
